@font-face {
    font-family: 'Yeseva One';
    src: url('../css/Yeseva\ One.ttf');
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../css/Nunito\ Sans.ttf');
}
.section {
    position: absolute;
    background: black;
    width: 99%;
    height: 783px;
}
.navigation {
    margin-right: 121px;
    margin-top: 120px;
    float: right;
}
.div_nav {
    cursor: pointer;
    margin-right: 60px;
    display: inline-block;
    margin-right: 60px;
    font-family: 'Yeseva One';
    Size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: #FFFFFF4D;
    text-decoration: none;
}
.div_nav:hover {
    cursor: pointer;
    margin-right: 60px;
    display: inline-block;
    margin-right: 60px;
    font-family: 'Yeseva One';
    Size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: #E3B873;
    transition: all ease 0.3s;
}
.div_nav:focus {
    cursor: pointer;
    margin-right: 60px;
    display: inline-block;
    margin-right: 60px;
    font-family: 'Yeseva One';
    Size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: #E3B873;
    transition: all ease 0.2s;
    padding-bottom: 5px;
    border-bottom:#E3B873 solid 2px;
}
.div_nav_active {
    cursor: pointer;
    margin-right: 60px;
    display: inline-block;
    margin-right: 60px;
    font-family: 'Yeseva One';
    Size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: #E3B873;
    transition: all ease 0.2s;
    padding-bottom: 5px;
    border-bottom:#E3B873 solid 2px;
}
.div_nav_active:hover,
.div_nav_active:focus {
    cursor: pointer;
    margin-right: 60px;
    display: inline-block;
    margin-right: 60px;
    font-family: 'Yeseva One';
    Size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: #E3B873;
    transition: all ease 0.2s;
    padding-bottom: 5px;
    border-bottom:#E3B873 solid 2px;
}
.all_images {
    height: 483px;
    width: 679px;
    float: right;
    margin-right: 135px;
}
.slider {
    width: 679px;
    height: 483px;
    overflow: hidden;
}
.slider_line {
    height: 483px;
    width: 1358px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.image {
    width: 100%;
    height: 100%;
}
.completed {
    font-family: 'Yeseva One';
    font-weight: 400;
    Width: 253px;
    Height: 66px;
    Size: 27px;
    line-height: 37.42px;
    color: #E3B873;
    margin-top: 177px;
    margin-left: 135px;
}
.text {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-Size: 14px;
    line-height: 26.73px;
    margin-left: 135px;
    color: #FFFFFF;
}
.under_projects {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 100px);
    margin-left: 135px;
}
.under_h {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 24.95px;
    color: #E3B873;
}
.under_s {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21.28px;
    color: #FFFFFF;
}
.scroll {
    margin-top: 50px;
    margin-left: 135px;
}
.strelka {
    width: 44px;
}
.back {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: -214px;
    width: 46px;
    height: 20px;
}
.next {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 115px;
    width: 47px;
    height: 20px;
}
.slider_dots {
    position: absolute;
    transform: translateX(-50%);
}
.slider_dot {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border: 2px solid grey;
    background-color: grey;
    border-radius: 50%;
    outline: none;
}
.slider_dot_active {
    border: 2px solid white;
    background-color: white;
}
.slider_dot:hover {
    border-color: white;
    background-color: black;
    transition: all ease 0.5s;
}
.slider_dot:focus {
    border-color: white;
    background-color: white;
    transition: all ease 0.5s;
}
.slider_dot_active:hover 
.slider_dot_active:focus {
    transition: all ease 0.5s;
    background-color:  white;
}
.all_text {
    margin-top: -150px;
    display: grid;
    margin-left: 135px;
    width: 290px;
    height: 150px;
    overflow: hidden;
}
.slider_line_text {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    position: relative;
    left: 0;
    transition: all ease 1s;
}